EXPO_PUBLIC_RESIDENT_NAME=Resident
EXPO_PUBLIC_HOME_LABEL=Home
EXPO_PUBLIC_RESIDENT_PHONE=
EXPO_PUBLIC_PRIMARY_CAREGIVER_NAME=Primary Caregiver
EXPO_PUBLIC_PRIMARY_CAREGIVER_PHONE=
EXPO_PUBLIC_BACKUP_CAREGIVER_NAME=Backup Caregiver
EXPO_PUBLIC_BACKUP_CAREGIVER_PHONE=
